.root {
  position: fixed;
  inset: 0;
  background-color: #000;
  z-index: 1001;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
}

.close svg {
  width: 60px;
  height: 60px;
  fill: #fff;
}

/* .main {
  border: 1px solid #fff;
  height: 300px;
  width: 300px;
} */
